/*VARIABLES===============================*/

$primary-color: #eee;
//$secondary-color: #B7B04B;
$secondary-color: #989898;
$success-color: #61791A;
$info-color: #9C0503;
$font-color: #eee;//#3F5F80;
$contrast-color: #eee;
$show-home-image: true;
$home-img: url('../img/tractor.jpg');
$overlay-color: #1A6C84;
$background-opacity: 1;
// $primary-font: 'CormorantRegular';

$fontstack-heading: 'SpecialElite', 'Inconsolata', sans-serif;
$fontstack-textbody: 'PoiretOne', 'Inconsolata', 'Cormorantregular', sans-serif;

/*END VARIABLES===============================*/



/*MIXINS===============================*/
@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {

    &#bg-img{
        background-image: $home-img;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &:after {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($overlay-color, $background-opacity);
        z-index: -1;
    }
      
  }
}

    //MEDIA QUERIES
 
@mixin under500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin under768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin between769And1170 {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin above1170 {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

/*END MIXINS===============================*/