/*FONTS===============================*/
@font-face {
  font-family: 'Amatic SC';
  src: url("../webfonts/AmaticSC-Regular.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}
@font-face {
  font-family: 'AmaticSCBold';
  src: url("../webfonts/AmaticSC-Bold.ttf");
  font-style: 'normal';
  font-weight: 'bold';
}
@font-face {
  font-family: 'Pompiere';
  src: url("../webfonts/Pompiere-Regular.ttf");
}
@font-face {
  font-family: 'Cute';
  src: url("../webfonts/CuteFont-Regular.ttf");
}
@font-face {
  font-family: 'CormorantRegular';
  src: url("../webfonts/CormorantGaramond-Regular.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}
@font-face {
  font-family: 'Inconsolata';
  src: url("../webfonts/Inconsolata-Regular.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}
@font-face {
  font-family: 'PoiretOne';
  src: url("../webfonts/PoiretOne-Regular.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}
@font-face {
  font-family: 'SpecialElite';
  src: url("../webfonts/SpecialElite-Regular.ttf");
  font-style: 'normal';
  font-weight: 'normal';
}
/*END FONTS===============================*/

